.background{background-image: url(../img/background.jpg);background-size: 100% 100%;}
.tigger{background-image: url(../img/tigger.png);background-size: 100% 100%;}
.title{top: 14%;height: 10%;width: 24%;}
.center{left: 38%;}